

.movie-info {    
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
    box-sizing: border-box;
    
}
.back-btn {
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: #333;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 10px 15px;
    border-radius: 8px;
    transition: all 300ms ease;
    display: flex;
    align-items: center;
    gap: 8px;
}

.back-btn:hover {
    background-color: rgb(242, 233, 218);
    transform: translateX(-3px);
}

.movie-info__container {
    display: flex;
    gap: 40px;
    background-color: rgb(242, 233, 218);
    border-radius: 20px;
    box-shadow: 8px 8px 12px rgba(245, 222, 179, 0.8);
    padding: 40px;
}

.movie-info__poster {
    flex-shrink: 0;
    width: 300px;
}

.movie-info__poster img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.movie-info__details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.movie-info__title {
    font-size: 42px;
    margin-bottom: 10px;
    color: #333;
}

.movie-info__text {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
}

.movie-info__plot {
    font-size: 16px;
    line-height: 1.8;
    color: #666;
    margin-top: 10px;
}

.skeleton__loading {
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    border-radius: 4px;
}

@keyframes loading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

.skeleton__movie-poster {
    width: 100%;
    height: 450px;
}

.skeleton__movie-title {
    width: 70%;
    height: 42px;
    margin-bottom: 20px;
}

.skeleton__movie-text {
    width: 90%;
    height: 20px;
    margin-bottom: 20px;
}

.skeleton__movie-plot {
    width: 100%;
    height: 100px;
    margin-top: 20px;
}


@media(max-width: 768px) {
    .movie-info__container {
        flex-direction: column;
        align-items: center;
    }
    
    .movie-info__poster {
        width: 100%;
        max-width: 300px;
    }
}