* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
li {
    font-size: 20px;
    list-style: none;
    transition: all 300ms ease;
}

li:hover {
    text-decoration: underline;
    cursor:pointer;
    color: rgb(202, 202, 246);
    transform: translateY(2px);
}

.footer {
    background-color: darkslateblue;
}

.contact__btn {
    background-color: rgba(54, 35, 101, 0.621);
    color:#fff;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 10px 15px;
    border-radius: 8px;
    transition: all 300ms ease;
    display: flex;
    align-items: center;
    gap: 8px;
}

.contact__btn:hover {
    transform: translateY(3px);
}

@media(max-width: 768px) {

    .footer__container {
    display: flex;
    flex-direction: column;
}

}

@media (max-width: 576px) {
    .footer__logo {
        display: none;
    }
}