* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
li {
    font-size: 20px;
    list-style: none;
    transition: all 300ms ease;
}

li:hover {
    text-decoration: underline;
    cursor:pointer;
    color: rgb(202, 202, 246);
    transform: translateY(2px);
}

.footer {
    background-color: darkslateblue;
}

@media(max-width: 768px) {

    .footer__container {
    display: flex;
    flex-direction: column;
}
.footer__links {
    display: block;
}
}

@media (max-width: 576px) {
    .footer__logo {
        display: block;
    }
}